name: Deploy to AWS EC2

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install frontend dependencies #EC2서버 배포준비(로컬에서 빌드)
        run: |
          cd frontend
          npm install
          npm run build

      - name: Deploy to EC2 #배포
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script: |
            # Backend 배포
            cd /home/ec2-user/app/backend
            pkill -f 'BasicProject-0.0.1-SNAPSHOT.jar' || true
            # 로컬에서 git clone된 jar 복사
            cp ~/BasicProject/build/libs/BasicProject-0.0.1-SNAPSHOT.jar . 
            nohup java -jar BasicProject-0.0.1-SNAPSHOT.jar > backend.log 2>&1 &

            # Frontend 배포
            # cd /home/ec2-user/app/frontend
            # pkill -f 'npm' || true
            # cp -r ~/frontend/* . 
            # npm install
            # nohup npm run start > frontend.log 2>&1 &
